#hero {
  background-image: url(../images/abstract.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.d-flex {
  height: 70vh;
}